<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下面的范例中，"SetAttributes" 转换只会在 "Match" 定位程序找到
    值为 "MyDB" 的属性 "name" 时，才将 "connectionString" 的值变
    更为使用 "ReleaseSQLServer"。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      
      在下面的范例中，"Replace" 转换将会取代 web.config 文件
      的整个 <customErrors> 区段。
      请注意，因为在 <system.web> 节点之下 
      只有一个 customErrors 区段，所以不需要使用 "xdt:Locator" 属性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>